@font-face {
  font-family: 'RuneScape UF';
  src: url('/fonts/runescape_uf.woff2');
  font-weight: normal;
  font-style: normal;
}

.header {
  font-family: 'RuneScape UF';
  font-weight: 100;
  font-size: 5rem;
  color: #ffff00;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  object-fit: cover;
}

.home {
  font-family: 'RuneScape UF';
  font-weight: 100;
  font-size: 1.6rem !important;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-out;
  background-color: var(--color-primary);
  color: black;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.home:hover {
  transform: scale(1.1);
  background-color: var(--color-primary-light);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.4);
}

@media (prefers-reduced-motion: reduce) {
  .home {
    transition: none;
  }

  .home:hover {
    color: black;
    transform: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  background-color: var(--color-primary);

  }
}
