html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --color-primary: #e5e53a;
  --color-primary-light: #f1f196;
  --color-background: #20201f;
  --color-foreground: #292927;
  --color-text: #f5f3f5;
  --color-subtle-text: #c9c9c9;
  --color-card: #3b3b37;
  --color-card-hover: #42423e;
  --color-card-hover-light: #55554a;
  background-color: var(--color-background);
  color: var(--color-text);
}