<div id="entity-list-template" class="entity-card hidden">
  <img
    class="entity-thumbnail"
    loading="lazy"
    decoding="async"
    width="100"
    height="100"
  />
  <h1 class="entity-name">{{ .Name }}</h1>
  <p class="entity-subcategory">{{ .Subcategory }}</p>
</div>

