<div id="entity-list-template" class="entity-card hidden">
  <a class="entity-link" href="">
    <img
      onload="this.style.opacity = 1"
      class="entity-thumbnail"
      loading="lazy"
      decoding="async"
      width="100"
      height="100"
    />
  </a>
  <div class="entity-card-data">
    <div>
      <h2 class="entity-card-title">
        <span class="entity-card-name"></span>
        <span class="entity-card-subcategory"></span>
      </h1>
      <p class="entity-card-title-alt">
        <span class="entity-card-name"></span>
        <span class="entity-card-subcategory"></span>
      </p>
    </div>
    <div>
      <p><span class="entity-card-tile-count"></span> tile markers</p>
      <div class="entity-interaction">
      <button
        class="entity-card-copy"
        hx-get="/api/button_tile"
        hx-trigger="click"
        hx-swap="outerHTML"
        onclick="copy(this);
          this.classList.remove('animate');
          window.setTimeout(() => this.classList.add('animate'), 1);"
        >Copy</button>
      </div>
    </div>
  </div>
</div>

