<div class="entity-card hidden">
  <img
    class="entity-thumbnail"
    loading="lazy"
    decoding="async"
    width="100"
    height="100"
    src="{{ .Thumbnail }}"
    alt="{{ .Name }} image"
  />
  <h1>{{ .Name }}</h1>
  <p>{{ .Subcategory }}</p>
  <p>{{ .Wiki }}</p>
</div>

