<div class="navbar">
  <a href="./" class="title link">
    <header class="title header">
      R<span>une</span>
      <span class="title alt">
        M<span>arkers</span>
      </span>
      <span>.net</span>
    </header>
  </a>
</div>

