<div class="entity-search-container">
  <input oninput="search()" id="entity-search" type="text" id="search" placeholder="type here to search" />
  <button onclick="clearSearch()" class="clear-button">
    <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
      <path
        d="M6.4 19.45 4.55 17.6l5.6-5.6-5.6-5.6L6.4 4.55l5.6 5.6 5.6-5.6 1.85 1.85-5.6 5.6 5.6 5.6-1.85 1.85-5.6-5.6Z" />
    </svg>
  </button>
</div>

<script>
  const fuseOptions = {
    // the keys of the objects to search
    keys: [
      {name: `fullName`, weight: 0.7},
      {name: `fullAltName`, weight: 0.5},
      {name: `tags`, weight: 0.3},
    ],
    threshold: 0.4,
  };

  const tileData = [
    {{ range .Entities -}}
    {
      safeUri: "{{ .SafeURI }}",
      name: "{{ .Name }}",
      subcategory: "{{ .Subcategory }}",
      altName: "{{ .AltName }}",
      tags: [{{ range .Tags }}"{{ . }}",{{ end }}],
      thumbnail: "{{ .Thumbnail }}",
      fullName: "{{ .FullName }}",
      fullAltName: "{{ .FullAltName }}",
      tileCount: {{ .Tiles | len }},
      tilesString: {{ .TilesString }},
    },
    {{ end }}
  ]

  fuse = new Fuse(tileData, fuseOptions);

  const entitySearch = document.getElementById("entity-search");

  let searchResults = []

  function resetList() {
      tileData.forEach((td) => addListItem(td))
  }

  window.onload = resetList;

  function search() {
    // if no search term, show all
    if (!entitySearch.value) {
      resetList()
      return
    }

    searchResults = fuse.search(entitySearch.value);
    updateList(searchResults)
  }

  function clearSearch() {
    entitySearch.value = ``;
    updateList(tileData)
  }
</script>
