<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="js/fuse.js"></script>
  <script src="js/htmx.min.js"></script>
  <title>{{.Entity.FullName }} Tile Markers | RuneMarkers.net</title>
</head>

<body>
  {{ template "navbar" }}
  <main class="main-container">
    <div class="inner-container">
    {{ template "entity_card" .Entity }}
    <div class="entity-links">
    <a href="{{.Entity.MapLink}}">View map on RuneLite</a>
    <a href="{{.Entity.Wiki}}">OSRS Wiki page</a>
    </div>
    <h2>Recommended Guide</h2>
    <iframe
    title="Recommended Guide"
    src="https://www.youtube-nocookie.com/embed/{{.Entity.RecommendedGuideVideoId}}"
    frameborder="0"
    loading="lazy"
    allow="autoplay; encrypted-media; picture-in-picture"
    allowfullscreen>
    </iframe>
    <h2>Tile Data</h2>
    {{ template "tile_data_display" .Entity }}
    {{ if .Entity.Source}}
      <h2>Source</h2>
      <span><a href="{{ .Entity.Source.Link }}">{{ .Entity.Source.Name }}</a>
      {{ if .Entity.Source.Modified }}
        <span class="modified-wrapper">(modified)
          <span class="tooltip-wrapper">
            <span class="tooltip">{{ .Entity.Source.Modified }}</span>
          </span>
        </span>
      {{ end }}
      </span>
    {{ end }}
  </main>
</body>
</html>

{{ template "copy" }}

<script>
  htmx.config.selfRequestsOnly = true;
</script>

{{ template "styles" }}

<style>
  html,
  body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    --color-primary: #e5e53a;
    --color-primary-light: #f1f196;
    --color-background: #20201f;
    --color-foreground: #292927;
    --color-text: #f5f3f5;
    --color-subtle-text: #cccccc;
    --color-card: #3b3b37;
    --color-card-hover: #42423e;
    --color-card-hover-light: #55554a;
    background-color: var(--color-background);
    color: var(--color-text);
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

  .entity-links {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    width: 100%;
    text-decoration: underline;
  }

  a {
    color: var(--color-primary);
    transition: color .2s ease-out;
  }

  a:hover {
    color: var(--color-primary-light);
  }

  .modified-wrapper {
    display: inline-block;
    cursor: help;
  }

  .modified-wrapper .tooltip-wrapper {
    position: absolute;
    margin-left: 60px;
  }

  .modified-wrapper:hover .tooltip-wrapper .tooltip {
    opacity: 1;
    pointer-events: auto;
  }
  .modified-wrapper .tooltip-wrapper .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  padding-bottom: 20px;
  border-style: solid;
  border-color: var(--color-card) transparent transparent transparent;
}

  .modified-wrapper .tooltip-wrapper .tooltip {
    background-color: var(--color-card);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border-radius: 6px;
    padding: 10px;
    width: 12rem;
    position: absolute;
    height: fit-content;
    text-align: center;
    bottom: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity .1s ease-in-out;
    margin-bottom: 10px;
  }

  .main-container {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inner-container {
    min-width: 17rem;
    margin: 2rem; 0 0.75rem 0;
    max-width: 40rem;
    width: 80%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--color-foreground);
    box-shadow:
      0 0.25rem 0.75rem rgba(0, 0, 0, 0.25),
      0 0.25rem 0.75rem rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .inner-container > h2 {
    width: 100%;
    margin: 2rem 0 1rem 2rem;
  }

  .inner-container > iframe {
    border-radius: 1rem;
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
    aspect-ratio: 16/9;
    width: 100%;
  }

  .iframe-container {
    position: relative;
    height: 100%;
  }

  @media (max-width: 900px), (max-height: 900px) {
    .inner-list-container {
      width: 95%;
      height: auto;
    }
  }
</style>
