.container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

@media (max-width: 768px) {
  .container {
    max-height: none;
  }
}

@media (max-width: 400px) {
  .container {
    margin-top: 80px;
  }
}

.link {
  color: var(--color-primary);
  font-size: 1.2rem;
  margin: 20px 0 0 0;
}