.container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

@media (max-width: 768px) {
  .container {
    max-height: none;
  }
}

@media (max-width: 400px) {
  .container {
    margin-top: 80px;
  }
}

.entityLink {
  color: var(--color-primary);
  font-size: 1rem;
  margin: 10px 10px 10px 10px;
}

.entityLink:hover {
  color: var(--color-primary-light);
}

.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
