.container {
  display: flex;
  justify-content: center;
  margin: 0 30px;
  align-items: center;
  border-radius: 20px;
  color: var(--color-subtle-text);
  flex-direction: column;
  padding: 0px;
}

.container code {
  font-family: monospace;
}

.header {
  margin: 40px 0 10px 30px;
}
