.code {
  font-family: monospace;
  border-radius: 10px;
  background-color: var(--color-card);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  word-break: break-all;
  color: #ddd;
  width: calc(100% - 40px);
  overflow-y: hidden;
  overflow-x: auto;
}

.togglePretty,
.toggleShowAll {
  cursor: pointer;
  user-select: none;
  color: #eee;
}

.togglePretty {
  margin-left: auto;
}

.togglePretty:hover,
.toggleShowAll:hover {
  color: var(--color-primary-light);
}

.toggleShowAll.active,
.togglePretty.active {
  color: var(--color-primary);
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  width: 95%;
}
