.footer {
  color: var(--color-text);
  width: 100%;
  margin-top: auto;
  padding: 0 0 5px 0;
  bottom: 0;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  margin: 0 10px 0 5px;
  padding: 0;
  color: var(--color-text);
  display: flex;
}

.footerItem > p {
  margin: 0;
  display: flex;
}

.link > span {
  margin-left: 5px;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
  }

  .footerItem {
    margin: 10px 0px;
  }
}
