.innerGridContainer {
  min-width: 280px;
  margin-bottom: 5px;
  max-width: 985px;
  width: 90%;
  border: 2px solid #3a3a3a;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 20px;
  background-color: var(--color-background);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: center;
}

@media (max-width: 900px) {
  .innerGridContainer {
    width: 85%;
    height: auto;
  }
}

.innerGridContainer::-webkit-scrollbar {
  width: 5px;
  border-radius: 4px;
}

.innerGridContainer::-webkit-scrollbar-track {
  background: var(--color-card);
  border-radius: 5px;
}

.innerGridContainer::-webkit-scrollbar-thumb {
  background: #757575;
  border-radius: 5px;
}

.innerGridContainer::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-light);
}
