.button {
  background-color: transparent;
  border: none;
  height: 40px;
  width: 40px;
  margin-left: 10px;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover .svg path,
.container:hover .svg path {
  fill: var(--color-primary);
  filter: drop-shadow(1px 1px 0.5px rgba(0, 0, 0, 0.5));
}

.svg {
  /* height: 40px; */
  /* width: 40px; */
  fill: var(--color-text);
}

.svg path {
  transition: all 0.2s ease-out;
  filter: drop-shadow(0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5));
}
