.innerListContainer {
  min-width: 280px;
  margin-bottom: 20px;
  max-width: 600px;
  width: 80%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  background-color: var(--color-foreground);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  overflow-x: hidden;
}

@media (max-width: 900px) {
  .innerListContainer {
    width: 85%;
    height: auto;
  }
}

.innerListContainer::-webkit-scrollbar {
  width: 5px;
  border-radius: 4px;
}

.innerListContainer::-webkit-scrollbar-track {
  background: var(--color-card);
  border-radius: 5px;
}

.innerListContainer::-webkit-scrollbar-thumb {
  background: #757575;
  border-radius: 5px;
}

.innerListContainer::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-light);
}
