.tooltip {
  position: relative;
  display: inline-block;
  cursor: help;
  color: white;
  margin: 0 0 0 .5rem;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: var(--color-card);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--color-card) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
