.link {
  color: var(--color-primary);
  font-size: 1rem;
  margin: 10px 5px 10px 5px;
  transition: all 0.2s ease-out;
}

.header {
  margin: 40px 0 10px 0;
}

.link:hover {
  color: var(--color-primary-light);
}

.modified {
  margin: 0;
}

.tilesSourceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
