.container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.customYtLite {
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
