.card {
  width: 185px;
  min-width: 150px;
  /* max-width: 300px; */
  height: 250px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-direction: column;
  background-color: var(--color-card);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: .2s ease-out;
}

.card:hover {
  background-color: var(--color-card-hover);
}

.image {
  object-fit: contain;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.cardData {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.entityInfo {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.name {
  font-size: 1.2rem;
  margin: 0;
  color: var(--color-text);
  font-weight: bold;
  text-decoration: none;
}

.tileInteraction {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.button {
  padding: 10px 40px;
  width: 122px;
}

.tileCount {
  color: var(--color-subtle-text);
  margin: 0 0 5px 0;
  text-align: end;
  font-size: .9rem;
}
