.link {
  color: var(--color-primary);
  font-size: 1rem;
  margin: 10px 5px 10px 0;
}

.header {
  margin: 40px 0 10px 0;
}

.link:hover {
  color: var(--color-primary-light);
}

.tilesSourceParagraph {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .tilesSourceParagraph {
    flex-direction: column;
  }
}