.card-copy {
  display: block;
  position: relative;
  padding: 0.75rem;
  background: var(--color-primary);
  border: none;
  border-radius: 0.75rem;
  color: var(--color-background);
  font-size: 1.2rem;
  line-height: 0;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-out;
  height: 2.5rem;
  width: 8rem;
  overflow: hidden;
  box-shadow:
    0 0.2rem 0.4rem rgba(0, 0, 0, 0.16),
    0 0.2rem 0.4rem rgba(0, 0, 0, 0.23);
}

.card-copy:hover {
  background: var(--color-primary-light);
  transform: translateY(-0.05rem);
  box-shadow:
    0 0.65rem 1.25rem rgba(0, 0, 0, 0.19),
    0 0.4rem 0.4rem rgba(0, 0, 0, 0.23);
}

.card-copy.animate {
  animation: clickAnim 0.2s ease-out;
}

.card-copy.animate::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 100px;
  background: #ffffff48;
  position: absolute;
  top: 0;
  left: 100%;
  transform: skewX(-20deg);
  animation: swipeBar 1.25s ease-out;
}

@keyframes clickAnim {
  0% {
    background: var(--color-primary);
    transform: translateY(0);
    box-shadow:
      0 0.2rem 0.4rem rgba(0, 0, 0, 0.16),
      0 0.2rem 0.4rem rgba(0, 0, 0, 0.23);
  }
  100% {
    background: var(--color-primary-light);
    transform: translateY(-0.05rem);
    box-shadow:
      0 0.65rem 1.25rem rgba(0, 0, 0, 0.19),
      0 0.4rem 0.4rem rgba(0, 0, 0, 0.23);
  }
}

@keyframes swipeBar {
  0% {
    left: 100%;
  }
  100% {
    left: -80%;
  }
}
