<div id="entity-list-template" class="row entity-card{{ if not .Name}} hidden{{end}}">
  <img
    onload="this.style.opacity = 1"
    class="entity-thumbnail"
    alt="{{ .Name }} from Old School RuneScape"
    loading="lazy"
    decoding="async"
    width="120"
    height="120"
    src="{{ .Thumbnail }}"
  />
  <div class="entity-card-data">
    <div>
      <h2 class="entity-card-title">
        {{ if .Name }}<span class="entity-card-name">{{ .Name }}</span>{{ end }}
        {{ if .Subcategory }}<span class="entity-card-subcategory">&#40;{{ .Subcategory }}&#41;</span>{{ end }}
      </h2>
      {{ if .AltName }}
        <p>
          <span class="entity-card-name">{{ .AltName }}</span>
          {{ if .Subcategory }}<span class="entity-card-subcategory">&#40;{{ .Subcategory }}&#41;</span>{{ end }}
        </p>
      {{ end }}
    </div>
    <div class="entity-card-bottom">
      {{ if .Tiles }}<p><span class="entity-card-tile-count">{{ .Tiles | len }}</span> tile marker{{ if gt (len .Tiles) 1 }}s{{ end }}</p>{{ end }}
      <div class="entity-interaction jsonly">
      {{ template "copy_button" . }}
      </div>
    </div>
  </div>
</div>

