.entity-thumbnail {
  margin-right: 1.5rem;
  object-fit: contain;
  transition: all 0.2s ease-out;
  opacity: 0;
}

.entity-link {
  display: flex;
  align-items: center;
}

.entity-card.row {
  width: 100%;
  background-color: var(--color-card);
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  box-shadow:
    0 0.2rem 0.4rem rgba(0, 0, 0, 0.16),
    0 0.2rem 0.4rem rgba(0, 0, 0, 0.23);
}

.entity-interaction {
  display: flex;
}

.entity-card.hidden {
  display: none;
}

.entity-card-info-button {
  fill: var(--color-text);
  margin-left: 1rem;
}

.entity-card-info-button path {
  transition: all 0.2s ease-out;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

.entity-card-info-button:hover path {
  fill: var(--color-primary);
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

.entity-card-data .hidden {
  display: none;
}

.entity-card-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  text-align: end;
}

.entity-card-title {
  text-decoration: none;
  display: block;
}

.entity-card-title h2 {
  font-size: 1.4rem;
  color: var(--color-text);
  margin: 0 0 2px 0;
}

.entity-card-name,
.entity-card-title-alt,
.entity-card-subcategory {
  display: inline-block;
}

.entity-card-title-alt {
  margin: 0;
  text-decoration: none;
}

.entity-card-title-alt p {
  margin: 0;
}

.entity-card-data a {
  color: var(--color-subtle-text);
}

.entity-card p {
  margin: 0 0 0.25rem 0;
  color: var(--color-subtle-text);
}

.entity-card-bottom {
  margin-top: 1rem;
}
