.inner-list-container {
  min-width: 17rem;
  max-width: 65rem;
  width: 85vw;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* might need to only for a smaller size */
  flex-wrap: wrap;
  padding: 1.25rem 0.25rem;
  background-color: var(--color-foreground);
  box-shadow:
    0 0.25rem 0.75rem rgba(0, 0, 0, 0.25),
    0 0.25rem 0.75rem rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100dvh - 315px);
  align-content: start;
}

@media (max-width: 900px), (max-height: 900px) {
  .inner-list-container {
    /* width: 95%; */
    height: auto;
  }
}
