<div {{ if not .Name}}id="entity-list-template"{{ end }} class="grid entity-card{{ if not .Name}} hidden{{ end }}">
  <a class="entity-link entity-card-image" href="./{{ .SafeUri }}">
    <img
      onload="this.style.opacity = 1"
      class="entity-thumbnail"
      alt="{{ .Name }} from Old School RuneScape"
      loading="lazy"
      decoding="async"
      width="140"
      height="140"
      src="{{ .Thumbnail }}"
    />
  </a>
  <div class="entity-card-data">
    <div>
      <a class="entity-link entity-card-title" href="./{{ .SafeUri }}">
        <h2>
          <span class="entity-card-name">{{ if .Name }}{{ .Name }}{{ end }}</span>
          <span class="entity-card-subcategory">{{ if .Subcategory }}&#40;{{ .Subcategory }}&#41;{{ end }}</span>
        </h2>
      </a>
    </div>
    <div>
      <p class="entity-card-tile-count"></p>
      <div class="entity-interaction jsonly">
        {{ template "copy_button" . }}
      </div>
      <noscript>
        {{ if .Tiles }}{{ .Tiles | len }} tile marker{{ if gt (len .Tiles) 1 }}s{{ end }}{{ end }}
      </noscript>
    </div>
  </div>
</div>

