footer {
  margin: 1rem 0;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


footer .footer-item {
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}

footer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: .25rem;
  height: 100%;
  margin-left: 0.25rem;
}

footer p {
  margin-bottom: 0;
  font-size: 0.875rem;
}

footer p a {
  margin-left: 0;
}

footer img {
  margin-top: 0.25rem;
  margin-right: 0.25rem;
}

@media (max-width: 375px) {
  footer {
    flex-direction: column;
  }
}
