<footer>
  <div class="footer-container">
    <div class="footer-item">
      Made by
      <a href="https://discord.com/users/167850724976361472" target="_blank" rel="noopener">
        <img
          alt="Discord logo"
          loading="lazy"
          decoding="async"
          src="/assets/discord.png"
          width="20"
          height="17">
        <span class="link-text">jamgyo</span>
      </a>
    </div>
    <div class="footer-item">
      <a href="https://github.com/jamiegyoung/runemarkers" target="_blank" rel="noopener">
        <img alt="GitHub logo"
          loading="lazy"
          decoding="async"
          src="/assets/github.png"
          width="20"
          height="20">
        <span class="link-text">contribute code / tiles</span>
      </a>
    </div>
    <br />
  </div>
    <div class="footnote">
      <p>
        Now NoScript friendly!
        <br />
        If you have any issues or suggestions, please contact me on Discord or GitHub.
      </p>
    </div>
</footer>
