<footer>
  <p>
I've been slipping on maintaining and updating RuneMarkers, so I've set-up a Discord server to enable community discussion/contribution.
  If you have any issues or suggestions, let me know on Discord!
  </p>
  <p>
  Images sourced from the <a href="https://oldschool.runescape.wiki/" target="_blank" rel="noopener">Old School RuneScape Wiki</a> under <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank" rel="noopener">CC BY-NC-SA 3.0</a>.
  </p>
</footer>
