footer {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.footnote {
  display: flex;
  justify-content: center;
  margin: 0 4rem;
  text-align: center;
  color: var(--color-subtle-text);
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


footer .footer-item {
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}

footer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: .25rem;
  height: 100%;
  margin-left: 0.25rem;
}

footer img {
  margin-top: 0.25rem;
}

@media (max-width: 375px) {
  footer {
    flex-direction: column;
  }
}
