<nav class="navbar">
  <a href="./" class="title link">
    <h1 class="title header">
      R<span>une</span>
      <span class="title alt">
        M<span>arkers</span>
      </span>
      <span>.net</span>
    </h1>
  </a>
</nav>

