<nav class="navbar">
  <a href="./" class="title link">
    <h1 class="title header">
      R<span>une</span>
      <span class="title alt">
        M<span>arkers</span>
      </span>
      <span>.net</span>
    </h1>
    <div class="navbar-item">
      <a href="https://discord.gg/ZE65DBGjXF" target="_blank" rel="noopener">
        <img
          alt="Discord"
          loading="lazy"
          decoding="async"
          src="/assets/discord.svg"
          width="30"
          height="27">
      </a>
    </div>
    <div class="navbar-item">
      <a href="https://github.com/jamiegyoung/runemarkers" target="_blank" rel="noopener">
        <img alt="GitHub"
          loading="lazy"
          decoding="async"
          src="/assets/github.svg"
          width="30"
          height="30">
      </a>
    </div>
  </div>
  </a>
</nav>

