.entity-search-container {
  z-index: 1;
  position: relative;
  transform: translateY(15px);
}

#entity-search {
  font-size: 1.2rem;
  max-width: 175px;
  min-width: 50px;
  padding: 0.5rem 30px 0.5rem 30px;
  width: 90%;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--color-text);
  color: var(--color-background);
  outline: none;
  margin-right: 10px;
  text-align: center;
  transition: all 0.3s ease-out;
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.25),
    0 1px 3px rgba(0, 0, 0, 0.7);
  float: left;
}

#entity-search:not(:placeholder-shown), #entity-search:focus {
  max-width: 225px;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.5);
}

#entity-search:focus::placeholder {
  content: "";
  opacity: 0;
  transition: all 0.3s ease-out;
}

@media (max-width: 270px) {
  #entity-search::placeholder {
    content: "";
    opacity: 0;
  }
}

.clear-button {
  float: left;
  height: 40px;
  position: absolute;
  right: 10px;
  border: none;
  background-color: transparent;
  transition: 0.1s ease-out;
  border-radius: 0 10px 10px 0;
  opacity: 0;
  transform: scale(0);
  cursor: pointer;
}

/* when the input has text, show the clear button */
#entity-search:not(:placeholder-shown) + .clear-button {
  opacity: 1;
  transform: scale(1);
}
