const tileData = [
  {{ range .Entities -}}
  {
    link: "{{ .SafeUri }}",
    apiUri: "{{ .SafeApiUri }}",
    name: "{{ .Name }}",
    subcategory: "{{ .Subcategory }}",
    altName: "{{ .AltName }}",
    tags: [{{ range .Tags }}"{{ . }}",{{ end }}],
    thumbnail: "{{ .Thumbnail }}",
    fullName: "{{ .FullName }}",
    fullAltName: "{{ .FullAltName }}",
    {{ if .Tiles }}
    tileCount: {{ .Tiles | len }},
    {{ end }}
  },
  {{ end }}
]
