.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.innerContainer {
  min-width: 280px;
  width: 50%;
  max-width: 600px;
  min-height: 100%;
  /* border-left: 2px solid #3a3a3a;
  border-right: 2px solid #3a3a3a; */
  border: 2px solid #3a3a3a;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  height: calc(100vh - 340px);
  background-color: var(--color-background);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  overflow-y: auto;
  overflow-x: hidden;
}

@media (max-width: 900px) {
  .innerContainer {
    width: 85%;
    height: auto;
    margin-bottom: 50px;
  }
}

.innerContainer::-webkit-scrollbar {
  width: 5px;
  border-radius: 4px;
}

.innerContainer::-webkit-scrollbar-track {
  background: var(--color-card);
  border-radius: 5px;

}

.innerContainer::-webkit-scrollbar-thumb {
  background: #757575;
  border-radius: 5px;
}

.innerContainer::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-light);
}

