<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {{ range .EntityMods -}}
  <url>
    <loc>https://runemarkers.net/{{ .Entity.SafeUri }}</loc>
    <lastmod>{{ .ModTime }}</lastmod>
  </url>
  {{ end }}
</urlset>
