<div class="data-display-container">
  <div class="controls">
    <button
      hx-target=".data-display-container"
      hx-get="/api/tile_data_display_{{ .Entity.SafeApiUri }}.html"
      hx-swap="outerHTML">Show all ({{ len .Entity.TilesString }} characters)</button>
    <button
      hx-target=".data-display-container"
      hx-get="/api/tile_data_display_pretty_truncated_{{ .Entity.SafeApiUri }}.html"
      hx-swap="outerHTML">Pretty print</button>
  </div>
  <code class="tiles-data">{{ truncateCharacters .Entity.TilesString 500 }}</code>
</div>

