<iframe
  title="Recommended Guide"
  src="https://www.youtube-nocookie.com/embed/{{ .Entity.RecommendedGuideVideoId }}"
  frameborder="0"
  loading="lazy"
  allow="autoplay; encrypted-media; picture-in-picture"
  allowfullscreen>
</iframe>
